
@{
    ViewBag.Title = "Index";
}

<h2>OutPatient</h2>

<h4>Dashboard</h4>
<hr>

<div>
    <button name="SAppoinment">
        @Html.ActionLink("Schedule Appoinment", "Create", "InPatient")
    </button>


    <button name="SAppoinment">
        @Ajax.ActionLink("Report", "OViewReport", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Display",
        HttpMethod = "Get"
    })

    </button>


    <button name="SAppoinment">
        @Ajax.ActionLink("Bill", "OBill", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Display",
        HttpMethod = "Get"
    })

    </button>


</div>


<div id="Display">

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<link href="~/Content/Style.css" rel="stylesheet" />
   
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}