
@{
    ViewBag.Title = "Index";

}
<h2 style="text-decoration-color:#000000"><b>InPatient</b></h2>

<h4>Dashboard</h4>
<hr>

<div>



    <button id="View">
        @Ajax.ActionLink("Report", "IViewReport", new AjaxOptions
   {

       HttpMethod = "Get",
       UpdateTargetId = "Display",
       InsertionMode = InsertionMode.Replace


        })

    </button>


    <button id="Bill">
        @Ajax.ActionLink("Bill", "IBill", "InPatient", new AjaxOptions
     {
            LoadingElementId = "div_loading",

            HttpMethod = "Get",

            UpdateTargetId = "Display",
            InsertionMode = InsertionMode.Replace
        })

    </button>


</div>


<div id="Display">

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")



    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}

