@{
    ViewBag.Title = "Team 5 - Chhichhore";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../Content/Images/Teal and White Gradient Tech and Gaming Retail Website (1).png');
            background-repeat: no-repeat;
            background-size: cover;
            align-items:center
        }
    </style>
}

<link href="~/Content/ContactSheet.css" rel="stylesheet" />
<section class="kj">
    <div class=" heading">
        <h2>@ViewBag.Title</h2>
    </div>
   
</section>