@{
    ViewBag.Title = "About";
}

<body background="~/Content/Images/t.png">
</body>
<link href="~/Content/ContactSheet.css" rel="stylesheet" />
<section class="kj">
    <div class=" heading">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="body-content" ">
        Hospital Management System programmed using ASP.Net mvc.<br />
        This lets you to login and register as patient or doctor.<br />
        A Doctor using this system can check the appointments he<br />
        has and also create the test which patients have to take.<br />
        There are two type of Patients,i.e. INPATIENT and OUTPATIENT<br />
        Inpatient can view his/her test results, book appointments <br />
        and view bill generated.  While Outpatient can view his/her <br />
        bill and his test results.<br />
    </div>
</section>