@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<link href="~/Content/ContactSheet.css" rel="stylesheet" />
<section class="kj">
    <div class=" heading">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="body-content">

        <img src="~/Content/Images/patient (1).png" height="300" width="300" /><br />
        Team-5<br />
        <a href="mailto:shiwani.gawade@capgemini.com">shivani.gawade@capgemini.com</a><br />
        <a href="mailto:chinmay.keni@capgemini.com">chinmay.keni@capgemini.com</a><br />
        <a href="mailto:parikshit-santosh.more@capgemini.com">parikshit-santosh.more@capgemini.com</a><br />
        <a href="mailto:pratik.h.pawar@capgemini.com">pratik.h.pawar@capgemini.com</a><br />
        <a href="mailto:nirmal-kumar.sharma@capgemini.com">nirmal-kumar.sharma@capgemini.com</a><br />
        <a href="mailto:nilesh-shivaji.wagh@capgemini.com">nilesh-shivaji.wagh@capgemini.com</a><br />
    </div>
</section>
<body background="~/Content/Images/t.png">
</body>