@{
    ViewBag.Title = "Home Page";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('../../Content/Images/Teal.png');
            background-repeat: no-repeat;
            scroll-behavior: auto;
            background-size: cover;
            align-items: center
        }
    </style>
}
<!--<div>

    <img src="~/Content/Images/Teal and White Gradient Tech and Gaming Retail Website.png" />-->
@*<img src="~/Content/Images/mainscreeen.png" width=" 1080" style=" background-position:center; background-repeat:no-repeat; background-size:cover; position:relative" />*@
<!--</div>-->

@*<img src="~/Content/Images/Teal and White Gradient Tech and Gaming Retail Website (1).png" />*@







