
@{
    ViewBag.Title = "Dashboard";
}

@section head{
    <style type="text/css">

        .box {
            margin: 50px;
            width: 100px;
            height: 50px;
            border-radius: 20px;
            background-color: black;
            color:White;
            text-align: center;
            line-height: 50px;
          
        }
        a.my-class {
            color: white
        } 
        
    </style>
}
<h2 style="text-decoration-color:#000000"><b>Doctor</b></h2>

<h4>Dashboard</h4>
<hr>
@if (TempData["alert"] != null)
{
    <div class="alert alert-success">
        <strong>Test Successfully Created!!!</strong>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}

    <div class="row">
        <div class="box">

            @Html.ActionLink("InPatient", "InPatient", "Doctor", new { @class = "my-class" })

        </div>
        <div class="box">

            @Html.ActionLink("OutPatient", "OutPatient", "Doctor", new { @class = "my-class" })
        </div>

        </div>

        <div id="Display">

        </div>
@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")


        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    }
