
@{
    ViewBag.Title = "Dashboard";
}
<h2>Doctor</h2>

<h4>Dashboard</h4>
<hr>
<div>
    <button name="SAppoinment">
        @Html.ActionLink("EditPatient", "EditPatient", "Doctor")

    </button>
    <button name="SAppoinment">
        @Html.ActionLink("InPatient", "InPatient", "Doctor")

    </button>
    <button name="SAppoinment">
        @Html.ActionLink("OutPatient", "OutPatient", "Doctor")

    </button>


    <div id="Display">

    </div>


</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}