@*<h2 style="color:red">Enter Valid details</h2>*@
<div class="alert">
    <span class="closebtn" style="tab-size:inherit" onclick="this.parentElement.style.display='none';">&times;</span>
    <h4 style="color:red">Please Enter Valid details</h4>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
   
}

